<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta charset="utf-8">
    <meta name="theme-group" content="theme-communications">
    <meta name="theme-color" content="var(--header-background)">
    <title> Contacts </title>

    <!-- Building Blocks -->
    <link href="/contacts/shared/style/input_areas.css" rel="stylesheet">
    <link href="/contacts/shared/style/lists.css" rel="stylesheet">
    <link href="/contacts/shared/style/scrolling.css" rel="stylesheet">
    <link href="/contacts/shared/style/buttons.css" rel="stylesheet">
    <link href="/contacts/shared/style/progress_activity.css" rel="stylesheet">
    <link href="/contacts/shared/style/status.css" rel="stylesheet">
    <link href="/contacts/shared/style/switches.css" rel="stylesheet">
    <link href="/contacts/shared/style/confirm.css" rel="stylesheet">
    <link href="/contacts/shared/style/action_menu.css" rel="stylesheet">
    <link href="/contacts/shared/style/edit_mode.css" rel="stylesheet">
    <link href="/contacts/shared/style/animations.css" rel="stylesheet">

    <link href="/contacts/style/app.css" rel="stylesheet">
    <link href="/contacts/style/contacts.css" rel="stylesheet">
    <link href="/contacts/style/overlay.css" rel="stylesheet">
    <link href="/contacts/shared/pages/import/style/curtain_frame.css" rel="stylesheet">
    <link href="/contacts/style/status.css" rel="stylesheet">
    <link href="/contacts/shared/style/contacts.css" rel="stylesheet">
    <link href="/contacts/shared/style/contacts/contacts_buttons.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/contacts/style/gaia-theme.css">

    <!-- Web Components -->
    <script defer="" src="/contacts/shared/elements/config.js"></script>
    <script defer="" src="/contacts/shared/js/component_utils.js"></script>
    <script defer="" src="/contacts/shared/elements/gaia_subheader/script.js"></script>
    <script defer="" src="/contacts/shared/elements/gaia-header/dist/gaia-header.js"></script>


    <!-- Localization -->
    <link rel="localization" href="/contacts/locales-obj/views.vcard_load.vcard_load.{locale}.json">

    <script defer="" src="/contacts/shared/js/html_imports.js"></script>
    <script defer="" src="/contacts/shared/js/lazy_loader.js"></script>
    <script defer="" src="/contacts/views/vcard_load/js/boot.js"></script>

    <meta name="defaultLanguage" content="en-US">
    <meta name="availableLanguages" content="en-US:201510031555, qps-ploc:201510031555, qps-plocm:201510031555">





    <!-- Load just the templates needed -->



  <meta content="2.5" name="appVersion"></head>

  <body role="application" class="app-contacts skin-comms theme-communications">
    <section id="multiple-select-view" role="region" class="view current"><!--
    <template id="contactToImportTemplate">
      <li>
        <aside class="pack-end" aria-hidden="true">
          <span data-type="img"></span>
        </aside>
        <p>Name</p>
        <p>Org</p>
      </li>
    </template>
    <gaia-header id="multiple-select-view-header" action="close">
      <h1 id="multiple-select-view-title">Filename</h1>
      <button id="save-button" data-l10n-id="importAll">Import all</button>
    </gaia-header>

    <article class="view-body">
      <ol id="multiple-select-container" class="view-body-inner" data-type="list">
      </ol>
    </article>
  --></section>
    <section id="statusMsg" role="status" class="hidden"><!--
    <p></p>
  --></section>
  </body>

</html>
