<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta name="theme-color" content="#00b7b7">

    <title data-l10n-id="mergeDuplicateTitle">Merge duplicates</title>

    <meta name="defaultLanguage" content="en-US">
    <meta name="availableLanguages" content="en-US:201510031555, qps-ploc:201510031555, qps-plocm:201510031555">
    <link rel="localization" href="/contacts/locales-obj/views.matching.matching_contacts.{locale}.json">

    <script type="text/javascript" src="/contacts/shared/js/l10n.js"></script>

    <script type="text/javascript" src="/contacts/shared/js/lazy_loader.js"></script>
    <script type="text/javascript" src="/contacts/views/matching/js/boot.js"></script>
    <script type="text/javascript" src="/contacts/views/matching/js/matching_controller.js"></script>
    <script type="text/javascript" src="/contacts/shared/pages/import/js/curtain_panel.js"></script>

    <!-- Lazy loaded, when rendering duplicate list
    <script type="text/javascript" src="/contacts/shared/js/contacts/utilities/image_loader.js"></script>
    <script type="text/javascript" src="/contacts/shared/js/contacts/utilities/templates.js"></script>
    <script defer src="/contacts/shared/js/sanitizer.js"></script>
    -->
    <!-- Lazy loaded, files needed for match&merge
    <script type="text/javascript" src="/contacts/shared/js/text_normalizer.js"></script>
    <script type="text/javascript" src="/contacts/shared/js/simple_phone_matcher.js"></script>
    <script type="text/javascript" src="/contacts/shared/js/contacts/contacts_matcher.js"></script>
    <script type="text/javascript" src="/contacts/shared/js/contacts/contacts_merger.js"></script>
    -->

    <!-- Building Blocks -->
    <link href="/contacts/shared/style/switches.css" rel="stylesheet">
    <link href="/contacts/shared/style/lists.css" rel="stylesheet">
    <link href="/contacts/shared/style/confirm.css" rel="stylesheet">
    <link href="/contacts/shared/style/animations.css" rel="stylesheet">
    <link href="/contacts/shared/style/headers.css" rel="stylesheet">
    <link href="/contacts/shared/style/progress_activity.css" rel="stylesheet">
    <link href="/contacts/shared/pages/import/style/root.css" rel="stylesheet">
    <link href="/contacts/shared/pages/import/style/curtain.css" rel="stylesheet">

    <!-- Web Components -->
    <script defer="" src="/contacts/shared/elements/config.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="/contacts/shared/elements/gaia-icons/gaia-icons.css" /> -->
    <link rel="stylesheet" type="text/css" href="/contacts/style/gaia-theme.css">



    <link rel="stylesheet" href="style/matching_contacts.css">

    <!--<link rel="import" href="/contacts/shared/pages/import/elements/curtain.html">-->
  <meta content="2.5" name="appVersion"></head>

  <body role="application" class="skin-comms ui-not-ready">
    <section role="region">
      <section id="main">
        <section id="duplicate-msg">
          <p></p>
        </section>
        <!-- Contacts List Section -->
        <section id="contacts-list-container" data-type="list" class="active">
          <ol>
          </ol>
        </section> <!-- contacts-list-container -->
        <form id="footer" role="dialog" data-type="confirm">
          <menu>
            <button id="merge-action" data-l10n-id="merge" class="danger full">Merge</button>
          </menu>
        </form>
      </section> <!-- main -->
    </section> <!-- role="section" -->
  </body>

</html>
